.gameUI {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stat {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  position: relative;
}

.value {
  width: 2em;
  font-size: 50px;
}

.gameUI {
  font-size: 100px;
}

.gameUI.portrait {
  font-size: 24px;
}
